#VIDEO_PATH=/app/videos

# MQTT broker
MQTT_BROKER_IP=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=admin
MQTT_PASSWORD=Admin1234

# File storage root (mounted volume in Docker) (THIS MAY NOT BE USED ANYMORE)
#STORAGE_ROOT=/data/videos

RECORDINGS_DIR=/opt/recordings

# MACHINE CFG - MachineIds enum found in src/machine_cfg.py
MACHINE_ID=TUBELINER_002551
